<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo_mip_map"
        android:label="FOTWaveNews"
        android:permission="android.permission.INTERNET"
        android:roundIcon="@mipmap/app_logo_mip_map"
        android:supportsRtl="true"
        android:theme="@style/Theme.FotWaveNewsApp"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
             android:screenOrientation="portrait" />
        <activity
            android:name=".SportsNewsActivity"
            android:exported="true"
             android:screenOrientation="fullSensor" />
        <activity
            android:name=".EventsNewsActivity"
            android:exported="true"
             android:screenOrientation="fullSensor" />
        <activity
            android:name=".AcademicNewsActivity"
            android:exported="true"
             android:screenOrientation="fullSensor" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".AddNewsActivity"
            android:exported="true"
             android:screenOrientation="portrait" />
        <activity
            android:name=".DeveloperInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserInfoActivity"
            android:label="User Information"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NewsDetailActivity"
            android:exported="false"
            android:parentActivityName=".AcademicNewsActivity"
            android:theme="@style/Theme.FotWaveNewsApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AcademicNewsActivity" />
        </activity>

    </application>

</manifest>